<style>
  #submit-form .input-group-text {
    width: 200px;
  }
  #submit-form .input-group {
    margin-bottom: 1em;
  }
</style>
<form action="formsubmit" method="post" id="submit-form">
    <input type="hidden" name="mode" value="edit" />

    <input type="hidden" name="user" value="<%- defaults.user %>" />

    <div class="input-group flex-nowrap">
      <label for="sheetId" class="input-group-text" >Google Sheet ID <span><i class="bi bi-info-circle text-primary mx-3" data-bs-toggle="tooltip" title="If the sheet URL is https://docs.google.com/spreadsheets/d/xyz-123/edit the sheetId is xyz-123"></i></span> </label>
      <input
        type="text" 
        class="form-control"
        name="sheetId"
        id="sheetId"
        value="<%- defaults.sheetId %>"
        required
      />
    </div>
  
    <div class="input-group flex-nowrap">
      <label for="fieldName" class="input-group-text">CdM Field Name</label>
      <input type="text" class="form-control" name="fieldName" id="fieldName" value="<%- defaults.cdmField %>" required /> 
    </div>

    <div class="input-group flex-nowrap">
      <label for="fieldLabelInSheet" class="input-group-text">Field Label in Sheet</label>
      <input
        type="text"
        name="fieldLabelInSheet"
        class="form-control"
        id="fieldLabelInSheet"
        value="<%- defaults.fieldLabelInSheet %>"
        required
      />
    </div>

    <div class="input-group flex-nowrap">
      <label for="cdmAlias" class="input-group-text">CdM Collection Alias</label>
      <input type="text" class="form-control" name="cdmAlias" id="cdmAlias" value="<%- defaults.cdmAlias %>" required /> 
    </div>

    <div class="input-group flex-nowrap">
      <label for="batchName" class="input-group-text">Batch Name</label>
      <input type="text" class="form-control" name="batchName" id="batchName" value="" />
    </div>

    <div class="input-group flex-nowrap">
      <label for="firstCdmNumber" class="input-group-text">First CdM Number</label>
      <input type="text" class="form-control" name="firstCdmNumber" id="firstCdmNumber" value="" />
    </div>

    <div class="input-group flex-nowrap">
      <label for="lastCdmNumber" class="input-group-text">Last CdM Number</label>
      <input type="text" class="form-control" name="lastCdmNumber" id="lastCdmNumber" value="" />
    </div>

    <div class="input-group flex-nowrap">
      <label for="firstSheetRow" class="input-group-text">First Sheet Row</label>
      <input type="text" class="form-control" name="firstSheetRow" id="firstSheetRow" value="" />
    </div>
    
    
    <div class="input-group flex-nowrap">
    <label for="lastSheetRow" class="input-group-text">Last Sheet Row</label>
    <input type="text" class="form-control" name="lastSheetRow" id="lastSheetRow" value="" />
    </div>

    <input type="submit" id="formSubmit" class="form-control btn btn-primary" value="Submit" />
  </form>
  