<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Confirmation</title>
    <%- include ('partials/bootstrap') %>
</head>
<body>
    <%- include('partials/nav', defaults) %>
    <div class="container">
        <h1>Request Confirmation</h1>
        <div class="bg-light border border-info p-2">
            <li>Batch Name: <%= details.batchName %></li>
            <li>Batch Id: <a href="/logs/<%= details.batchId %>"><%= details.batchId %></a></li>
            <li>Estimated time to completion: <%= details.timeEstimate %>s</li>
            <%- include ('partials/timer', {timeEstimate: details.timeEstimate}) %>
            <script>
                setInterval(async function() {
                   let complete = await fetch('http://localhost:3000/logs/check/<%= details.batchId %>');
                    if (complete) {
                        window.location.href = '/logs/<%= details.batchId %>';
                    }
                }, <%= details.timeEstimate * 500 %>);
            </script>
        </div>
    </div>
</body>
</html>