<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/bootstrap') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/nav') %>
    <div class="container">
    <h1>Output</h1>
    <% if (typeof(elapsedTime) !== "undefined") { %>
    <div class="my-3">
        <a href="/"><button class="btn btn-primary">Process Another Batch</button></a>
    </div>
    <% }  else { %>
    <div class="my-3">
        <a href="/logs"><button class="btn btn-primary"><i class="bi bi-arrow-left"></i> Return to Logs</button></a>
    </div>
    <% } %>
        <h2 class="bg-success text-white p-2">Successes: <%= successes.length %></h2>
    <h2 class="bg-warning p-2">Failures: <%= failures.length %> <a href="#fails" class="mx-5 btn btn-outline-primary btn-light">Jump to List</a></h2>
    <% if (typeof(elapsedTime) !== "undefined") { %>
    <h2 class="bg-info text-white p-2">Time Elapsed: <%= elapsedTime %>s</h2>
    <% } %>

    <div class="bg-light border border-info rounded p-2 mb-3">
        <h3>Batch Setup</h3>
        <% batch = batch[0] %>
        <!-- <%- JSON.stringify(batch, null, 2) %> -->
        <li>Batch Name: <%= batch.batchName %></li>
        <li>Batch Id: <%= batch.batchId %></li>
        <li>User: <%= batch.user %></li>
        <li>Collection Alias: <%= batch.collectionAlias %></li>
        <li>First CDM Number: <%= batch.firstCdmNumber %></li>
        <li>Last CDM Number: <%= batch.lastCdmNumber %></li>
        <li>Time: <%=batch.created %></li>
    </div>

    <h3 class="text-success">Successes</h3>
    <pre>
    <%= JSON.stringify(successes,null,2) %>
</pre>
    <a name="fails" id="failsnod"></a>
    <h3 class="text-warning">Failures</h3>
    <pre>
        <%= JSON.stringify(failures, null, 2) %>
    </pre>

</div>
</body>
</html>


