<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results: <%- query %> - Catcher Edit Manager</title>
    <%- include('partials/bootstrap') %>
</head>
<body>
    <%- include('partials/nav') %>
    <div class="container">
    <h1>Search Results: <%- query %></h1>
    <!-- <%- JSON.stringify(results) %> -->
    <% let list = '' %>
    <% results.forEach(r => { %>
        <% list = `<tr><td><a href="/logs/${r.batch}">${r.batch}</a></td><td>${r.query}</td><td>${r.success}</td><td>${r.created}</td></tr>` +list  %>
    <% }) %>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Batch</th>
                <th scope="col">Query</th>
                <th scope="col">Success</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            <%- list %>
        </tbody>
</body>
</html>